::view-transitio*{
    margin: 0;
    padding: 0;
    font-family: var(--font1);
}

:root{
    --transition: 0.8s all ease-in-out;
    --shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    --font1: 'Roboto', sans-serif;
    --font2: 'Libre Franklin', sans-serif;
    --font3: 'Oswald', sans-serif;
    --pri-color: #004AAD;
    --sec-color: #f4f4f4;
    --thr-color: #030c17;
    --wht-color: white;
    --blk-color: black;
}

body{
    background-image: url(../media/p.png);
    background-size: cover;
    transition: var(--transition);
}

header{
    
    
    .header{
        
        display: flex;
        align-items: end;
        justify-content: end;
        margin-top: 2rem;
        
        .img{
            margin-right: rem;
            width: 200px;
            img{
                width: 100%;
                
            }
            
        }
        .upper-btn{
            color: var(--pri-color);
            background-color: var(--sec-color);
            display: block;
            margin: 1rem;
        }
    }
    
}

main{
   
    h1{
        text-align: center;
    }
    .sections{
        transition: var(--transition);
    }
    .section{
        transition: var(--transition);
        background-color: var(--sec-color);
        border-radius: 10px;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
        box-shadow: var(--shadow);
        overflow: hidden;
        width: 98vw;
        height: 79vh;
        transition: var(--transition);
        margin-bottom: 4em;
        h2{
            color: var(--pri-color);
            font-weight: bolder;
            display: none;
            transition: var(--transition);
        }
        .block{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 85%;
            text-align: center;
            box-shadow: var(--shadow);
            transition: var(--transition);
            overflow: hidden;
            border-radius: 10px;
            transition: var(--transition);
            
            &:hover{
                transition: var(--transition);
                
                background-image: none;
            
                overflow: hidden;
                .btn{
                    overflow: hidden;
                    display: block;
                    color: var(--wht-color);
                    background-color: var(--pri-color);
                    box-shadow: var(--shadow);
                    transition: var(--transition);
                    &:hover{
                        overflow: hidden;
                        background-color: var(--wht-color);
                        transition: var(--transition);
                        .material-symbols-outlined{
                            color: var(--pri-color);
                            transition: var(--transition);
                        }
                    }
                }
                h2{
                    display: block;
                }
                
                
            }    
            
        }
        transition: var(--transition);
        .sec1{
            background-image: url(../media/Justice-bro.png);
            background-size: cover;
            background-position-y: top;
        }
        .sec2{
            background-image: url(../media/Manage\ money-bro.png);
            background-size: cover;
            background-position-y: top;
            
        }
        .sec3{
            background-image: url(../media/contab.png);
            background-size: cover;
            background-position-y: bottom;
            background-position:  1%;
            
        }
        .sec4{
            background-image: url(../media/Good\ team-bro.png);
            background-size: cover;
            background-position-y: center;
        }
        .sec5{
            background-image: url(../media/Water\ pollution-bro.png);
            background-size: cover;
            background-position-y: top;
        }
        .sec6{
            background-image: url(../media/chemist-bro.png);
            background-size: cover;
            background-position-y: top;
            
        }
        .sec7{
            background-image: url(../media/epi2.jpg);
            background-size: cover;
            background-position-y: bottom;
            background-position:  1%;
            
        }
        .sec8{
            background-image: url(../media/arch.png);
            background-size: cover;
            background-position-y: center;
        }
    }
}


//
a{
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        font-family: var(--font1);
    }
    
    :root{
        --transition: 0.8s all ease-in-out;
        --shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
        --font1: 'Roboto', sans-serif;
        --font2: 'Libre Franklin', sans-serif;
        --font3: 'Oswald', sans-serif;
        --pri-color: #004AAD;
        --sec-color: #f4f4f4;
        --thr-color: #030c17;
        --wht-color: white;
        --blk-color: black;
    }
    
    body{
        background-image: url(../media/p.png);
        background-size: cover;
        transition: var(--transition);
    }
    
    header{
        
        
        .header{
            
            display: flex;
            align-items: end;
            justify-content: end;
            margin-top: 2rem;
            
            .img{
                margin-right: rem;
                width: 120px;
                img{
                    width: 100%;
                    
                }
                
            }
            .upper-btn{
                color: var(--pri-color);
                background-color: var(--sec-color);
                display: block;
                margin: 1rem;
            }
        }
        
    }
    
    main{
       
        h1{
            text-align: center;
            color: var(--pri-color);
            font-weight: bolder;
        }
        .sections{
            transition: var(--transition);
        }
        .section{
            transition: var(--transition);
            background-color: var(--sec-color);
            border-radius: 10px;
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            justify-content: center;
            box-shadow: var(--shadow);
            overflow: hidden;
            width: 90vw;
            height: 110vh;
            transition: var(--transition);
            margin-bottom: 4em;
            .section-text{
                display: flex;
                font-size: .4rem;
            }
            h2{
                color: var(--pri-color);
                font-weight: bolder;
                
                transition: var(--transition);
            }
            .block{
                font-size: .2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80%;
                height: 85%;
                text-align: center;
                box-shadow: var(--shadow);
                transition: var(--transition);
                overflow: hidden;
                border-radius: 10px;
                transition: var(--transition);
                padding: 1rem;
                
                &:hover{
                    transition: var(--transition);
                    
                    background-image: none;
                
                    overflow: hidden;
                    .btn{
                        overflow: hidden;
                        display: block;
                        color: var(--wht-color);
                        background-color: var(--pri-color);
                        box-shadow: var(--shadow);
                        transition: var(--transition);
                        &:hover{
                            overflow: hidden;
                            background-color: var(--wht-color);
                            transition: var(--transition);
                            .material-symbols-outlined{
                                color: var(--pri-color);
                                transition: var(--transition);
                            }
                        }
                    }
                    h2{
                        display: block;
                    }
                    
                    .sec1{
                        background-image: url(../media/Justice-bro.png);
                        background-size: cover;
                        background-position-y: center;
                    }
                    .sec2{
                        background-image: url(../media/Manage\ money-bro.png);
                        background-size: cover;
                        background-position-y: center;
                        
                    }
                    .sec3{
                        background-image: url(../media/contab.png);
                        background-size: cover;
                        background-position: center;
                     
                        
                    }
                    .sec4{
                        background-image: url(../media/Good\ team-bro.png);
                        background-size: cover;
                        background-position-y: center;
                    }
                    .sec5{
                        background-image: url(../media/Water\ pollution-bro.png);
                        background-size: cover;
                        background-position-y: center;
                    }
                    .sec6{
                        background-image: url(../media/chemist-bro.png);
                        background-size: cover;
                        background-position-y: center;
                        
                    }
                    .sec7{
                        background-image: url(../media/epi2.jpg);
                        background-size: cover;
                        background-position-y: center;
               
                    }
                    .sec8{
                        background-image: url(../media/arch.png);
                        background-size: cover;
                        background-position-y: center;
                    }
                }    
                
            }
            transition: var(--transition);
           
        }
    }
    
    
    //
    a{
        text-decoration: none;
    }
}